@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.advert__container {
  width: 100%;
  margin-bottom: 7.5rem;
  background-color: $bg-primary;

  @include md {
    margin-bottom: 1.7rem;
  }

  .advert {
    max-width: 1116px;

    margin-left: 16.2rem;
    margin-right: 16.2rem;
    margin: 0 auto;
    background-color: #06b451;
    border-radius: 32px;
    padding: 6.4rem 3.2rem;
    position: relative;
    background-image: url("/landing/adbg-right.png"), url("/landing/adbg-left.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;

    @include xl {
      max-width: 1240px;
      margin: 0 10rem;
    }

    @include md {
      margin: 0 6rem;
    }

    @include sm {
      margin: 0 2.4rem;
      padding: 1.6rem;
      background-image: url("/landing/adbgmo-right.png"), url("/landing/adbgmo-left.png");
    }



    &__inner {
      text-align: center;
      width: 74%;
      margin: 0 auto;
      z-index: 1000;

      @include sm {
        width: 100%;
      }

      h3 {
        font-size: 3.2rem;
        font-weight: 500;
        color: $text-secondary;
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 6rem;
        color: $text-secondary;
        
      }

      .stores {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .apple,
        .playstore {
          width: 19.8rem;
          height: 9rem;
          position: relative;
        }
      }
    }
  }
}
