@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.hero__container {
  width: 100%;
  background-color: $bg-primary;
  padding: 19.2rem 0 14.6rem 0;

  @include xl {
    padding-top: 17.5rem;
    padding-bottom: 13rem;
  }

  .hero {
    max-width: 1116px;
    margin: 0 auto;
    background-color: $bg-secondary;
    border-radius: 6.4rem;
    padding: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xl {
      margin: 0 10rem;
      max-width: 1240px;
    }

    @include md {
      margin: 0 6rem;
    }

    @include sm {
      margin: 0 2.4rem;
      border-radius: 3.2rem;
      flex-direction: column-reverse;
      padding: 3.2rem 1.6rem;
      gap: 3.2rem;
    }

    .texts {

      @include sm {
        text-align: center;
      }
      h3 {
        font-size: 3.6rem;
        font-weight: 600;
      }

      .questions {
        color: #ffa401;
        margin-bottom: 2.4rem;
      }

      .zigzag {
        position: relative;
        height: 1.9rem;
        width: 22.1rem;

        @include md {
          width: 18rem;
        }

        @include sm {
          margin: auto;
        }
      }
    }

    .image {
      position: relative;
      height: 36rem;
      width: 40%;

      @include md {
        height: 30rem;
      }

      @include sm {
        height: 27.1rem;
        width: 28.5rem;
      }
    }
  }
}
