@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.effectiveness__container {
  width: 100%;
  background-color: $bg-primary;
  margin-bottom: 10rem;

  @include xl {
    margin-bottom: 9rem;
  }

  @include md {
    margin-bottom: 11rem;
  }

  .effectiveness {
    max-width: 1116px;
    margin: 0 auto;
    background-color: $bg-secondary;
    border-radius: 6.4rem;
    padding: 6.4rem;

    @include xl {
      margin: 0 10rem;
      max-width: 1240px;
    }

    @include md {
      margin: 0 6rem;
    }

    @include sm {
      margin: 0 2.4rem;
      border-radius: 3.2rem;
      padding: 3.2rem 1.6rem;
    }

    .title {
      font-weight: 500;
      font-size: 3.2rem;
      text-align: center;
      width: 60%;
      margin: auto;
      margin-bottom: 4.5rem;

      @include sm {
        font-size: 2.5rem;
        width: 100%;
      }
    }

    .effectiveness__item, .effectiveness__item2 {
      display: flex;
      align-items: center;
      gap: 5.2rem;

      @include md {
        flex-direction: column;
      }
      

      .texts {
        width: 48%;

        @include md {
          width: 100%;
        }

        h3 {
          font-weight: 500;
          font-size: 2.4rem;
          margin-bottom: 2.4rem;
        }

        p {
          font-weight: 400;
          font-size: 2.2rem;

          @include sm {
            font-size: 1.8rem;
          }
        }
      }

      .image, .heart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image {
        height: 27.5rem;
        width: 21.8rem;
        margin-left: 10rem;

        @include md {
          margin-left: 0;
        }
      }

      .heart {
        height: 21.7rem;
        width: 24.5rem;
        margin-right: 21.9rem;
        margin-left: 3rem;

        @include md {
          margin-left: 0;
          margin-right: 0;
        }
      }


    }

    .effectiveness__item2 {
        margin-top: 4.5rem;

        @include md {
          flex-direction: column-reverse;
        }
        
    }
  }
}
